{% extends 'base.html.twig' %}
{% block title %}À propos de nous{% endblock %}
{% block body%}
    <h2>Notre équipe à votre écoute</h2>
    <p class="img-about-container">
        <img src="{{ asset('images/family.jpg') }}" alt="Pooh team" class="img-about"/>
    </p>

{% endblock %}
