{% extends 'base.html.twig' %}
{% block title %}Page d'accueil{% endblock %}
{% block body%}
    <h2>Hop, bien arrivé</h2>
    <ul>
        <li class="list-item"><i class="fa-solid fa-egg"></i>Faire une descente en bobsleigh</li>
        <li class="list-item"><i class="fa-regular fa-lightbulb"></i>Méditer</li>
        <li class="list-item"><i class="fa-solid fa-fire"></i>Marcher sur des charbons ardents</li>
        <li class="list-item"><i class="fa-solid fa-rocket"></i>Aller dans l’espace</li>
    </ul>
{% endblock %}
