<header>
    <nav class="navbar navbar-expand-lg">
        <img class="img-logo" src="{{ asset('images/eeyore.png') }}" alt="eeyore"/>
        <a class="navbar-brand" href="#">Hello bucket (list)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-container">
                <a class="nav-item nav-link active" href="{{path('app_main')}}">Home</a>
                <a class="nav-item nav-link" href="#">Une page</a>
                <a class="nav-item nav-link" href="#">Autre page</a>
            </div>
        </div>
    </nav>
</header>
