body {
    background-color: #008196;
    color :white;
}

.list-item {
    list-style-type: none;
    margin-top:3px;
    background-color:#05aac2;
    padding:10px;
    border: 6px;
    width:60%;
    border-radius: 5px;
}
.list-item:hover{
    background-color:#fa6793;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.img-logo{
    width : 70px;
}
.nav-container{
    display:flex;
    justify-content: flex-end;
}
.nav-container > a:hover {
    background-color: #ff97a6;
    border-radius: 6px;
}
header{
    background-color: #05aac2;

}

article{
    margin:15px;
}
#flex-container {
    display:flex;
    flex-direction:column;

    /* fallback height */
    min-height:100vh;

    /* new small viewport height for modern browsers */
    min-height:100svh;
}

#flex-container > footer {
    margin-top:auto;
    background-color: #012638;
    color:white;
    text-align: center;
    height:30px;
}

